* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.game__wrapper {
    width: 100%;
    height: 100dvh;
    background-color: #1c1f24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.game__wrapper .info__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.game__wrapper .info__wrapper img {
    width: 70px;
    height: 70px;
}

.game__wrapper .info__wrapper span {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.game__wrapper .click__element__wrapper  {
    position: relative;
}

.game__wrapper .click__element__wrapper img {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    border-radius: 50%;
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}

.game__wrapper .click__element__wrapper #plus_one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}